/* Header */

* {
	font-family: 'Georama', sans-serif;
	font-weight: 100px;
}
 

.Flex-Nav {
	display: flex;
	flex-wrap: nonwrap;
	background-color: #CD5720;
	min-height: 200px;
}

.Flex-Nav__ul {
	margin: auto;
	list-style: none;
	display: flex;
}

.Flex-Nav__li {
	align-items: center;
}

.Logo {
	height: 180px;
	width: 180px;
	margin: 10px 50px;
}

.Flex-Nav__li a {
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	text-shadow: 1px 1px 5px black;
	margin-left: 10px;
	margin-right: 10px;
}

.Flex-Nav__li img {
	height: 120px;
	width: 120px;
	margin-left: 10px;
}

.Menu {
	display: inline-flex;
	justify-content: center;
}

.ArmaTuPropiaBurger {
	display: inline-flex;
	justify-content: center;
}

.Pedido {
	display: inline-flex;
	justify-content: center;
}

.Opinion {
	display: inline-flex;
	justify-content: center;
}

.Opinion img {
	transform: rotate(25deg);
}

.Menu:hover > .Menu img  {
	transition: 0.2s;
	transform: scale(1.1);
}

.Menu:hover > .Menu a {
	transition: 0.2s;
	text-shadow: 3px 3px 10px #000;
}

.ArmaTuPropiaBurger:hover > .ArmaTuPropiaBurger img  {
	transition: 0.2s;
	transform: scale(1.1);
}

.ArmaTuPropiaBurger:hover > .ArmaTuPropiaBurger a {
	transition: 0.2s;
	text-shadow: 3px 3px 10px #000;
}

.Pedido:hover > .Pedido img  {
	transition: 0.2s;
	transform: scale(1.1);
}

.Pedido:hover > .Pedido a {
	transition: 0.2s;
	text-shadow: 3px 3px 10px #000;
}

.Opinion:hover > .Opinion img  {
	transition: 0.2s;
	transform: scale(1.1);
	transform: rotate(12deg)
}

.Opinion:hover > .Opinion a {
	transition: 0.2s;
	text-shadow: 3px 3px 10px #000;
}

/* Foto Burger */

.BurgerImg {
	display: flex;
	width: 100%;
	height: 100%;
	margin-bottom: 100px;
}

.BurgerImg img {
	box-shadow: 2px 11px 31px -4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 2px 11px 31px -4px rgba(0,0,0,0.7);
	-moz-box-shadow: 2px 11px 31px -4px rgba(0,0,0,0.7);
	box-shadow: 5px -4px 61px -13px rgba(0,0,0,0.7) inset;
	-webkit-box-shadow: 5px -4px 61px -13px rgba(0,0,0,0.7) inset;
	-moz-box-shadow: 5px -4px 61px -13px rgba(0,0,0,0.7) inset;
}


/* Información */

.ContainerGral {
	background-color: #4D4D4D;
	color: #fff;
	text-shadow: 2px 2px 3px black;
}

.Titulo-Informacion {
	margin: auto;
	text-align: center;
	background-color: #FFBF27;
	width: 290px;
	padding: 10px;
	font-size: 35px;
	box-shadow: 19px 9px 26px -6px rgba(0,0,0,0.75);
	-webkit-box-shadow: 19px 9px 26px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 19px 9px 26px -6px rgba(0,0,0,0.75);
}

.InfoContainer {
	margin-top: 70px;
	margin-bottom: 20px;
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	font-size: 30px;
	color: #FFBF27;
}


.Informacion {
	width: 200px;
	padding-top: 10px;
	margin: 20px 0px;
	text-align: center;
}

.Informacion2 {
	text-align: center;
	width: 230px;
	padding: 10px 10px;
	margin: 20px 0px;
}

.Informacion3 {
	text-align: center;
	width: 180px;
	padding-top: 10px;
	margin: 20px 0px;
}

.TextoInformacion {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	font-size: 20px;
	margin-bottom: 100px;
}

.TextoInformacion1 {
	text-align: center;
	width: 200px;
	box-sizing: content-box;
}
.TextoInformacion2 {
	text-align: center;
	width: 220px;
	box-sizing: content-box;
	margin-left: 20px;	
}
.TextoInformacion3 {
	text-align: center;
	width: 200px;
	padding-left: 10px;
}

/* Menú */

.Menu_Burgers {
	background-color: #272727;
	color: #fff;
	padding-top: 100px;
	text-shadow: 2px 2px 3px black;
}

.Menu__Titulo {
	margin: auto;
	text-align: center;
	background-color: #FFBF27;
	width: 200px;
	padding: 10px;
	font-size: 35px;
	box-shadow: 19px 9px 26px -6px rgba(0,0,0,0.75);
	-webkit-box-shadow: 19px 9px 26px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 19px 9px 26px -6px rgba(0,0,0,0.75);
}

.Burgers {
	margin-top: 70px;
	margin-bottom: 50px;
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	font-size: 30px;
	text-align: center;
	color: #FFBF27;
}

.Descripciones {
	margin-bottom: 50px;
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	font-size: 20px;
}

.Burger__1 {
	width: 500px;
	height: 650px;
	background-color: #212121;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	box-sizing: border-box;
	margin: 20px 55px;
}

.Burger__1 img {
	width: 250px;
}

.NombreB {
	font-size: 40px;
	color: #fff;
}

.BurgerDescription {
	width: 250px;
	text-align: left;
	justify-content: center;
	display: flex;
 	font-size: 27px;
}

.BurgerDescription li {
	margin: 10px 0px;
}

.InfoAdicional {
	justify-content: center;
	padding-bottom: 80px;
	padding-top: 80px;
	text-align: center;
	font-size: 22px;
}

/* Footer */

.Footer {
	background-color: #000;
	color: #fff;
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
	height: 100px;
}

.Footer__Logo {
	width: 80px;
	margin: auto;
}

.Footer__Instagram {
	width: 80px;
	margin: auto;
}

.Footer__Info {
	font-size: 18px;
	margin: auto;
}

.Footer-Responsive {
	display: none;
}

.Flex-Nav-Responsive {
	display: none;	
}

.InfoAdicional-Responsive {
	display: none;
}

@media only screen and (max-width: 1300px) {

* {
	font-family: 'Georama', sans-serif;
	font-weight: 100px;
}

.Footer-Responsive {
	display: inline-flex;
}

.Footer {
	display: none;
}	

.InfoAdicional {
	display: none;	
}
	
header {
	display: flex;
	background-color: #CD5720;
} 

.Flex-Nav {
	display: none;	
}	
	
.Flex-Nav-Responsive {
	background-color: #CD5720;
	display: block;
	width: 100vw;
	height: 160px;
	margin-bottom: 20px;
}

.Logo-Responsive {
	width: 120px;
	height: 120px;
	margin: auto;
	padding: 5px;
	max-width: 120px;
}


.Flex-Nav__ul-Responsive {
	display: flex;
	list-style: none;
	text-align: center;
	margin: 10px;
	justify-content: space-evenly;
}


.Flex-Nav__li-Responsive a {
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	text-shadow: 1px 1px 5px black;
}

.Flex-Nav__li img {
	display: none;
}

/* Foto Burger */

.BurgerImg {
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: 40px;
}

/* Información */

.ContainerGral {
	background-color: #4D4D4D;
	color: #fff;
	text-shadow: 2px 2px 3px black;
}

.Titulo-Informacion {
	margin: auto;
	text-align: center;
	background-color: #FFBF27;
	width: 230px;
	padding: 10px;
	font-size: 25px;
}

.InfoContainer {
	width: 100%;
	margin: 20px 0px;
	display: inline-flex;
	text-align: center;
	justify-content: space-around;
	font-size: 20px;
	color: #FFBF27;
}

.Informacion {
	width: 200px;
	padding-top: 10px;
	margin: 20px 0px;
	padding-right: 15px;
}

.Informacion2 {
	width: 230px;
	padding: 10px 0px;
	padding-right: 15px;
	margin: 20px 0px;
}

.Informacion3 {
	width: 180px;
	padding-top: 10px;
	margin: 20px 0px;
	padding-right: 5px;
}

.TextoInformacion {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	font-size: 15px;
	margin-bottom: 40px;
}

.TextoInformacion1 {
	text-align: center;
	width: 200px;
	box-sizing: content-box;
}
.TextoInformacion2 {
	text-align: center;
	width: 220px;
	box-sizing: content-box;
	margin-left: 20px;	
}
.TextoInformacion3 {
	text-align: center;
	width: 200px;
	padding-left: 10px;
}

/* Menú */

.Menu_Burgers {
	background-color: #272727;
	color: #fff;
	padding-top: 100px;
	text-shadow: 2px 2px 3px black;
}

.Menu__Titulo {
	margin: auto;
	text-align: center;
	background-color: #FFBF27;
	width: 150px;
	padding: 10px;
	font-size: 30px;
}

.Burgers {
	margin-top: 70px;
	margin-bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 23px;
	text-align: center;
	color: #FFBF27;
}

.Descripciones {
	margin-bottom: 50px;
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	font-size: 15px;
	
}

.Descripciones ul {
	list-style: none;
}

.Descripciones li {
	margin: 10px 0px;
	text-align: center;
}


.Burger__1 {
	width: 280px;
	height: 450px;
	background-color: #212121;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	box-sizing: border-box;
	margin: 20px 50px;
}

.Burger__1 img {
	width: 150px;
}

.NombreB {
	font-size: 27px;
	color: #fff;
}

.BurgerDescription {
	width: 200px;
	text-align: left;
	justify-content: center;
	display: flex;
 	font-size: 20px;
}

.BurgerDescription li {
	margin: 10px 0px;
}

.InfoAdicional-Responsive {
	display: none;
}
	
.InfoAdicional {
	justify-content: center;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	font-size: 12px;
	margin: 0px 10px;
}

/* Footer */

.Footer-Responsive {
	background-color: #000;
	color: #fff;
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
	height: 60px;
}

.Footer__Logo-Responsive {
	width: 40px;
	margin: auto;
}

.Footer__Instagram-Responsive {
	width: 40px;
	margin: auto;
}

.Footer__Info-Responsive {
	font-size: 12px;
	margin: auto;
} 


}
