/* Header */

* {
	font-family: 'Georama', sans-serif;
	font-weight: 100px;
}

.nav__responsive {
	display: none;
}

.nav {
	background-color: #CD4914;
	width: 100%;
	height: 160px;
}

.nav__li {
	display: inline-block;
}

.nav__li a {
	font-family: 'Georama', sans-serif;
	color: #fff;
	font-size: 20px;
	text-shadow: 1px 1px 1px black;
	text-decoration: none;
	position: relative;
	bottom: 60px;
}

.nav__li img {
	width: 70px;
	margin: 10px;
	position: relative;
	bottom: 30px;
}

.nav__li:hover > img {
	width: 95px;
	transition: 0.2s;
}

.nav__li:hover > a {
	text-shadow: 5px 5px 10px black;
	transition: 0.2s;
}

.nav__logo {
	display: inline-block;
	width: 150px;
	margin: 10px;
	position: relative;
	bottom: 5px;
}

/* Body */

/* Footer */

.Footer {
	display: inline-block;
	background-color: black;
	width: 100%;
	height: 80px;
}

.Footer__Redes {
	font-family: 'Georama', sans-serif;
	color: #fff;
	display: inline-block;
	position: relative;
	font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
	bottom: 10px;
}

.Footer__Logo {
	display: inline-block;
	margin-left: 25%;
	width: 60px;
	position: relative;
	top: 10px;
}

.Footer__Instagram {
	display: inline-block;
	width: 60px;
	position: relative;
	top: 10px;
}

.Footer-responsive {
	display: none;
}

@media only screen and (max-width: 1300px) {
	/* Header */

	.nav {
		display: none;
	}

	.nav__responsive {
		display: inline-block;
		background-color: #CD4914;
		width: 100%;
		height: 80px;	
	}

	.nav__responsive-ul {
		display: block;
		position: absolute;
		width: 100%;
		margin-top: 80px;
		z-index: 50;
	}

	.nav__li-container {
		background-color: #B23F11;
		position: absolute;
		width: 100%;
		top: -1000px;
		height: 350px;
		z-index: 1;
	}

	.nav__li-responsive-buttom-container {
		background-color: #CD4914;
		position: absolute;
		width: 100%;
		margin-top: -80px;
		z-index: 100;
	}

	.nav__li-responsive-buttom {
		margin-top: 10px;
		margin-left: 15px;
		width: 80px;
		position: relative;
	}

	.nav__li-responsive a {
		font-family: 'Georama', sans-serif;
		color: #fff;
		font-size: 15px;
		text-shadow: 2px 2px 5px black;
		text-decoration: none;
		position: relative;
		bottom: 10px;
	}
	
	.nav__li-responsive img {
		width: 40px;
		position: relative;
		margin: 20px;
		margin-right: 30px;
		top: 20px;
		left: 20px;
	}	

	.nav__responsive-ul:hover > .nav__li-container {
		top: 0px;
		transition: 0.5s;
	}

	/* Footer */

	.Footer {
		display: none;
	}

	.Footer-responsive {
		display: inline-block;
		background-color: black;
		width: 100%;
		height: 50px;
	}
	
	.Footer__Redes-responsive {
		font-family: 'Georama', sans-serif;
		color: #fff;
		display: inline-block;
		position: relative;
		font-size: 12px;
		margin-left: 10px;
		margin-right: 10px;
		bottom: px;
	}
	
	.Footer__Logo-responsive {
		display: inline-block;
		margin-left: 12%;
		width: 30px;
		position: relative;
		top: 10px;
	}
	
	.Footer__Instagram-responsive {
		display: inline-block;
		width: 30px;
		position: relative;
		top: 10px;
	}

}


